/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

ul#api-doc-nav {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
  border-radius: 6px;
}
ul#api-doc-nav li {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul#api-doc-nav li.nav-header {
  background-color: #e5e5e5;
  margin-top: 0px;
  padding-top: 5px;
}
ul#api-doc-nav a {
  border: 1px solid #e5e5e5;
  padding: 8px 14px;
  margin-top: -1px;
  text-align: right;
}
ul#api-doc-nav > li:first-child {
  border-radius: 6px 6px 0px 0px;
}
ul#api-doc-nav > li:last-child > a {
  border-radius: 0px 0px 6px 6px;
}

table#api-doc-table th {
  text-align: right;
  min-width: 100px;
}
table#api-doc-table  td {
 width: 100%;
}
table#api-doc-table  tr.info th {
  color: #575F63;
  background-color: #D9EDF7 !important;
}
table#api-doc-table  tr.info td {
  background-color: #F0F8FC !important;
}
table#api-doc-table  td pre {
  margin-bottom: 0px;
}
table#api-doc-table  td table {
  width: auto;
}
table#api-doc-table  td table th {
  width: auto;
  min-width: 0px;
  border-left: 0px;
}
table#api-doc-table  td table td {
  width: auto;
}
